.Car {
    width: 250px;
    text-align: center;

    .audi {
        color: blue;
    }

    .ford {
        color: red;
    }

    .lexus {
        color: green;
    }

    .butt {
        margin-bottom: 15px;
    }
}